SQLAlchemy~=2.0.8
Werkzeug~=2.2.3
WTForms~=3.0.1
Flask~=2.2.3
Flask-Login==0.6.2
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
SQLAlchemy==2.0.8
SQLAlchemy-serializer==1.4.1
Werkzeug==2.2.3
