.filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}


.filter-section {
  margin-bottom: 10px;
}

.card-text {
    color: black;
    text-decoration: none;
    padding-bottom: 5px
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.deny_filter {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deny_filter:hover {
  background-color: rgb(200, 0, 0);
}

.tovar {
  display: flex;
}

.filter-wrapper {
  display: inline-block;
  border: 1px solid black;
  margin: 2px;
}

.name-tovar {
    color: black;
    text-decoration: none;
    font-size: 1.1vw;
    position: relative;
    bottom: 10px
}

.tovar-page-div {
    text-align: center;
}

.tovar-image {
    display: inline-block;
}

.short-info {
    display: inline-block;
    width: 300px;
    height: 400px;
    position: relative;
    top: 7px
}

.name-of-tovar {
    color: black;
    text-decoration: none;
}

.cost-of-tovar {
    font-size: 1.2vw;
    color: gray;
}

.desc-of-tovar {
    padding: 0;
    font-size: 1vw
}

.tovar_button {
	box-sizing: border-box;
	padding: 0 25px;
	width: 220px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	vertical-align: top;
	transition: box-shadow 0.2s;
	position: relative;
	left: 20px;
	top: 150px;
}
.tovar_button:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.tovar_button:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.tovar_button:active {
	background-color: #808080;
}
.tovar_button:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}

.article-desc {
    color:black;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    left: 50px;
    top: 20px
}

.desc-of-tovar {
    padding-bottom: 60px;
    width: 700px;
    position: relative;
    left: 100px;
    top: 25px;
    font-size: 16px;
    font-weight: 400
}

.buying {
	box-sizing: border-box;
	padding: 0 25px;
	width: 220px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	vertical-align: top;
	transition: box-shadow 0.2s;
	position: relative;
	left: 20px;
	top: 60px;
}

.buying:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}

.abc {
    color: red;
    font-size: 10px;
    position: relative;
    left: 15px;
    top: 45px
}

.basket-tovars {
    width: 600px;
    border: 1px solid black
}

.basket-tovar-image {
    display: inline-block
}

.mini-info {
    display: inline-block
}

.basket-tovar-name {
    color: black;
    text-decoration: none;
}

.basket-tovar-cost {
    color: gray;
    text-decoration: none;
}

.basket-block {
    display: inline-block;
}

.payment {
    display: inline-block;
    width: 250px;
    height: 400px;
    vertical-align: top
}

.total-cost-text {
    text-decoration: none;
    color: black;
    position: relative;
    top: 100px;
}

.basket-buying {
	box-sizing: border-box;
	padding: 0 25px;
	width: 220px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	vertical-align: top;
	transition: box-shadow 0.2s;
	position: relative;
	left: 20px;
	top: 120px;
}

.basket-buying:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}

.basket-warning {
    text-decoration: none;
    color: red;
    font-size: 10px;
    position: relative;
    left: 55px;
    top: 95px
}

.remove-from-basket {
    color: gray;
    font-size: 10px;
    position: relative;
    left: 550px
}
