<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<header>
  <a href="/"><img class="logo"  src="static/img/logo.png" alt="logo"></a>
  <nav class="header-sex">
    <ul>
      <li><a href="#">Male</a>
        <ul>
          <li><a href="#">Одежда</a></li>
          <li><a href="#">Обувь</a></li>
          <li><a href="#">Акссесуары</a></li>
        </ul>
      </li>
      <li><a href="#">Female</a>
        <ul>
          <li><a href="#">Одежда</a></li>
          <li><a href="#">Обувь</a></li>
          <li><a href="#">Акссесуары</a></li>
        </ul>
      </li>
      <li><a href="#">Child</a>
        <ul>
          <li><a href="#">Одежда</a></li>
          <li><a href="#">Обувь</a></li>
        </ul>
      </li>
      <li><a href="#">Sport</a>
        <ul>
          <li><a href="#">Футбол</a></li>
          <li><a href="#">Бег</a></li>
          <li><a href="#">Фитнес</a></li>
          <li><a href="#">Большой теннис</a></li>
          <li><a href="#">Баскетбол</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="profile">
    <ul>
      <li class="right"><a href="/favourite"><img src="static/img/favourite.png" alt="fav"></a></li>
      <li class="right"><a href="/basket"><img src="static/img/basket.png" alt="basket"></a></li>
      <li class="right profile"><a href="#">Профиль</a>
        <ul>
          <li><a href="#">Профиль</a></li>
          <li><a href="/basket">Корзина</a></li>
          <li><a href="/favourite">Избранное</a></li>
          <li><a href="#">Настройки учетной записи</a></li>
          <li><a href="#">Выход</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<footer>
  <div class="contact">
    <a href="https://vk.com/virus41l">Связь с разработчиком</a>
  </div>
  <div class="social">
    <a href="#">ВКонтакте</a>
    <a href="#">Ютуб</a>
    <a href="#">Discord</a>
  </div>
</footer>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>