{% extends "base.html" %}

{% block user_info %}
    <img src="{{ url_for('static', filename=user.avatar) }}" alt="mdo" width="32" height="32" class="rounded-circle">
{% endblock %}

{% block content %}
<h1>Код подтверждения</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.cod(class="form-control", type="text", placeholder="Код") }}<br>
        {% for error in form.cod.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
    {{message}}
</form>
{% endblock %}