{% extends "base.html" %}

{% block user_info %}
    <img src="{{ url_for('static', filename=user.avatar) }}" alt="mdo" width="32" height="32" class="rounded-circle">
{% endblock %}

{% block content %}
<section class="py-5 text-center container">
  <div class="row py-lg-5 border-bottom">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">LIFESTYLE</h1>
      <p class="lead text-body-secondary">Pick your own style</p>
    </div>
  </div>
</section>
  <div class="album py-5 bg-body-tertiary">
    <div class="six"><h1><span>ТРЕНДЫ НЕДЕЛИ</span></h1></div>
      <div class="header-h1 header-h1-left">
      <h1>Обувь</h1>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in sneakers %}
        <div class="col">
          <div class="card shadow-sm">
          <img src="{{ url_for('static', filename=item.picture) }}">
            <div class="card-body">
              <a href="/shoes_tovar_{{ item.id }}" class="card-text">{{ item.name }}</a>
              <div class="d-flex justify-content-between align-items-center">
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
                <small class="text-body-secondary">${{ item.cost }} </small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="album py-5 bg-body-tertiary">
    <div class="header-h1 header-h1-left">
      <h1>Одежда</h1>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in clothes %}
        <div class="col">
          <div class="card shadow-sm">
          <img src="{{ url_for('static', filename=item.picture) }}">
            <div class="card-body">
              <a href="/clothes_tovar_{{ item.id }}" class="card-text">{{ item.name }}</a>
              <div class="d-flex justify-content-between align-items-center">
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
                <small class="text-body-secondary">${{ item.cost }} </small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="album py-5 bg-body-tertiary">
    <div class="header-h1 header-h1-left">
      <h1>Акссесуары</h1>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in accessory %}
        <div class="col">
          <div class="card shadow-sm">
          <img src="{{ url_for('static', filename=item.picture) }}">
            <div class="card-body">
              <a href="/accessory_tovar_{{ item.id }}" class="card-text">{{ item.name }}</a>
              <div class="d-flex justify-content-between align-items-center">
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
                <small class="text-body-secondary">${{ item.cost }} </small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="album py-5 bg-body-tertiary">
    <div class="header-h1 header-h1-left">
      <h1>Для спорта</h1>
    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in sports %}
        <div class="col">
          <div class="card shadow-sm">
          <img src="{{ url_for('static', filename=item.picture) }}">
            <div class="card-body">
              <a href="/sport_tovar_{{ item.id }}" class="card-text">{{ item.name }}</a>
              <div class="d-flex justify-content-between align-items-center">
<!--                <div class="btn-group">-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--                </div>-->
                <small class="text-body-secondary">${{ item.cost }} </small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}