{% extends "base.html" %}

{% block user_info %}
    <img src="{{ url_for('static', filename=user.avatar) }}" alt="mdo" width="32" height="32" class="rounded-circle">
{% endblock %}

{% block content %}
    <h1>Авторизация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email(class="form-control", type="email", placeholder="Почта", width=10) }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password(class="form-control", type="password", placeholder="Пароль") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}