{% extends "base.html" %}

{% block user_info %}
    <img src="{{ url_for('static', filename=user.avatar) }}" alt="mdo" width="32" height="32" class="rounded-circle">
{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <h1 class="settings-text">Настройки аккаунта</h1>
    <div class="ava-settings">
        <form action="/ava_form" method="post" enctype="multipart/form-data">
            <div class="circle"></div>
            <div class="form-inner">
            <h3>Загрузить фото профиля</h3>
            <label class="input-file">
                <a><img src=""></a>
                <input type="file" name="file">
                <span class="input-file-btn">Выберите файл</span>
                <button type="submit" class="btn btn-primary">Изменить фото профиля</button>
            </label>
            </div>
        </form>
    </div>
    <div class="personal-info">
        <form action="/info_form" method="post">
            <div class="circle"></div>
            <div class="form-inner">
            <h3>Личные данные</h3>
            <input type="text" value="{{ user.name }}" name="name">
            <input type="text" value="{{ user.surname }}" name="surname">
            <input type="email" value="{{ user.email }}" name="email" disabled>
            <input type="submit" value="Сохранить изменения">
            </div>
        </form>
    </div>
    <div class="password-changing">
        <form action="/change_pass" method="post">
            <div class="circle"></div>
            <div class="form-inner">
            <h3>Изменить пароль</h3>
            <input type="password" placeholder="Старый пароль" name="old_pass">
            <input type="password" placeholder="Новый пароль" name="new_pass">
            <input type="password" placeholder="Повторите новый пароль" name="repeat_pass">
                {{ message }}
            <input type="submit" value="Изменить пароль">
            </div>
        </form>
    </div>
</div>
{% endblock %}