{% extends "base.html" %}

{% block content %}
    {% for item in user %}
    <div class="user-info-block">
        <div class="userava">
            <img src="https://github.com/mdo.png" alt="mdo" width="100" height="100" class="rounded-circle">
        </div>
        <div class="user-info-text">
            <a class="user-name-text">{{ item.name }} {{ item.surname }}</a><br>
            <a>{{ item.email }}</a>
        </div>
    </div>
    <div class="favourite-in-profile">
        <div class="album py-5 bg-body-tertiary">
            <div class="six"><h1><span><a class="fav-in-profile-text" href="/favourite">ИЗБРАННОЕ</a></span></h1></div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in favourite %}
        <div class="col">
          <div class="card shadow-sm">
          <img src="{{ url_for('static', filename=item.picture) }}">
            <div class="card-body">
              <a href="" class="card-text">{{ item.name }}</a>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">${{ item.cost }} </small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
    {% endfor %}
{% endblock %}