{% extends "base.html" %}

{% block content %}
<div class="tovar">
    <div class="filter-wrapper">
      <h2>Фильтр товаров</h2>

      <div class="filter-section">
        <h3>Сортировка по цене</h3>
        <a class="nav-link px-2 link-body-emphasis" href="/shoes_min_to_max">От меньшей к большей</a>
        <a class="nav-link px-2 link-body-emphasis" href="/shoes_max_to_min">От большей к меньшей</a>
      </div>

      <div class="filter-section">
        <h3>Тип</h3>
        <a class="nav-link px-2 link-body-emphasis" href="/shoes_male">Мужское</a>
        <a class="nav-link px-2 link-body-emphasis" href="/shoes_female">Женское</a>
        <a class="nav-link px-2 link-body-emphasis" href="/shoes_kids">Для детей</a>
      </div>
      <a href="/shoes_page"><button class="deny_filter">Сбросить фильтр</button></a>

    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in sneakers %}
            <div class="col">
              <div class="card shadow-sm">
              <img src="{{ url_for('static', filename=item.picture) }}">
                <div class="card-body">
                  <a href="/shoes_tovar_{{ item.id }}"><p class="name-tovar">{{ item.name }}</p></a>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary">${{ item.cost }} </small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
{% endblock %}